.checkout-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 11px;
    padding: 8px 10px;
    text-align: center;
    border: 3px solid #ccc;
    color: black;

    &__outer {
        padding-right: 10px;
    }

    .text {
        font-size: .8rem;
        margin: 2px 0;
    }
    &__hour {
        font-size: 1.2rem;
    }

    &[active=true] {
        border: 5px solid $primary !important;
    }

}