.order-field {
    display: flex;
    flex-flow: column nowrap;
    margin: .5rem 0;

    &__name {
        color: #000;
        font-size: .9rem;
        font-weight: lighter;
        margin-bottom: 8px;
    }

    &__value {
        font-size: 1rem;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        padding: 15px;
        font-weight: lighter;
    }
}