.payment-box {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 12px;
    margin-bottom: .5rem;
    
    &__header {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
    }

    &__details {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
    }

    &__name {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    &__info {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
    }

    &__data {
        font-weight: lighter;
    }

    &__angle {
        font-size: 1.4rem;
    }

    &__content{
        display: none
    }

    &__content[active=true] {
        display: inline;
    }

    form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-weight: lighter;
    }

    label{
        margin-top: 10px;
    }

    &__question{
        font-weight: lighter;
    }


}