.rest-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 12px;
    margin-bottom: .5rem;

    &__image {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 6px;
        background: #ccc;
        margin-right: .8rem;
        background-size: cover;
        background-position: center;
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
    }

    &__name {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    &__data {
        font-size: .8rem;
        font-weight: lighter;
    }

    &__angle {
        font-size: 1.4rem;
        color: $primary;
    }
}