/*** Gotham **/

@font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url('../fonts/GothamLight.otf');
}

@font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url('../fonts/GothamMedium.ttf');
}

@font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url('../fonts/GothamBold.otf');
}