.home {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    padding: 4rem 0 6rem 0;

    &__header {
        padding: 10px 18px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        &-logo {
            width: 80px;
        }
    }

    &:after {
        content: "";
        background: #fe5722;
        position: absolute;
        z-index: -1;
        width: 140%;
        height: 20rem;
        border-radius: 50%;
        left: -18%;
        top: 0;
    }

    &__section {
        margin-top: .2rem;

        .padded {
            padding: 1.2rem;
        }

        .padded-x {
            padding: 0 1.2rem;
        }

        .padded-y {
            padding: 1.2rem 0;
        }
        
    }


    h1 {
        font-size: 2rem;
    }


    &__restaurants {
        padding: 0 1.2rem; 
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;

        .restaurant-card__outer:last-child {
            padding-right: 0.5rem;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
         
         
        &::-webkit-scrollbar-thumb {
            width: 0;
        }
    }

    &__rest-list-view {
        display: flex;
        flex-flow: column nowrap;
    }

    &__category-list {
        display: flex;
        flex-flow: row wrap;

        :nth-child(odd) {
            margin-right: 3px;
        }
    
        :nth-child(even) {
            margin-left: 3px;
        }
    }
}
