html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** Gotham **/
@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url(fonts/GothamLight-3f6969ada534de188f1956dd87359296.otf); }

@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url(fonts/GothamMedium-77171d8f5b5283f9d47a3434704bf944.ttf); }

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url(fonts/GothamBold-14b3a355f612d6181e891efd2c798b5f.otf); }

html, body, #root {
  width: 100%;
  height: 100%; }

body {
  font-family: Gotham;
  font-weight: 500;
  font-size: 14px; }

.activity {
  position: relative;
  overflow: hidden;
  padding: 4rem 0 6rem 0; }
  .activity__header {
    padding: 10px 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .activity__header-logo {
      width: 80px; }
  .activity__section {
    margin-top: .2rem; }
    .activity__section .padded {
      padding: 1.2rem; }
    .activity__section .padded-x {
      padding: 0 1.2rem; }
    .activity__section .padded-y {
      padding: 1.2rem 0; }
  .activity h1 {
    font-size: 2rem; }
  .activity h2 {
    font-size: 1.6rem;
    font-weight: lighter; }

.footer {
  font-size: .7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  background: white; }
  .footer a {
    text-decoration: none; }
  .footer__item {
    color: #fe5722;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-top: 4px solid white; }
    .footer__item [data-icon] {
      margin-bottom: 8px;
      font-size: 1.3rem; }
    .footer__item.active {
      border-top: 4px solid #fe5722; }

.header {
  background: #fe5722;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; }

.header-item {
  color: white;
  padding: 0.5rem;
  font-size: 1.4rem; }

.restaurant-card {
  margin: 2px;
  margin-right: 12px;
  width: 145px;
  height: 185px;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  color: white;
  background: white;
  flex-shrink: 0;
  background-size: cover;
  background-position: center; }
  .restaurant-card__inner {
    background: linear-gradient(190deg, transparent, rgba(0, 0, 0, 0.7));
    position: absolute;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
  .restaurant-card__name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .restaurant-card__details {
    font-size: .7rem;
    display: flex;
    flex-flow: row wrap; }
  .restaurant-card__money {
    color: green; }

.rest-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: .5rem; }
  .rest-list__image {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 6px;
    background: #ccc;
    margin-right: .8rem;
    background-size: cover;
    background-position: center; }
  .rest-list__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1; }
  .rest-list__name {
    font-size: 1rem;
    margin-bottom: 3px; }
  .rest-list__data {
    font-size: .8rem;
    font-weight: lighter; }
  .rest-list__angle {
    font-size: 1.4rem;
    color: #fe5722; }

.category-card {
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  text-align: center;
  flex: 45%;
  font-size: 1.2rem;
  background: #fe5722;
  height: 4rem;
  flex-grow: 0;
  margin-bottom: 6px;
  padding: 6px; }

.meal-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: .5rem; }
  .meal-list__image {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 6px;
    background: #f9f9f9;
    margin-right: .8rem;
    background-size: cover;
    background-position: center; }
  .meal-list__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1; }
  .meal-list__name {
    font-size: 1rem;
    margin-bottom: 3px; }
  .meal-list__data {
    font-size: .8rem;
    font-weight: lighter; }
  .meal-list__price {
    color: #12b312;
    font-size: 1rem; }
  .meal-list[active=true] {
    border: 2px solid #fe5722; }

.order-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  background: white;
  height: 4rem;
  box-sizing: border-box;
  padding: 8px 1.2rem; }
  .order-bar__total {
    display: flex;
    flex-flow: column nowrap; }
    .order-bar__total .title {
      font-weight: lighter;
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: .8rem; }
    .order-bar__total .total-price {
      font-size: 1.4rem;
      color: #12b312; }
  .order-bar__button button {
    background: #fe5722;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: Gotham;
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 0.8rem 0.5rem; }

.checkout-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 11px;
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #ccc;
  color: black;
  margin-right: 10px; }
  .checkout-card .text {
    font-size: .8rem;
    margin: 2px 0; }
  .checkout-card__hour {
    font-size: 1.2rem; }
  .checkout-card[active=true] {
    border: 2px solid #fe5722; }

.splash {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe5722; }
  .splash img {
    width: 50%; }

.home:after {
  content: "";
  background: #fe5722;
  position: absolute;
  z-index: -1;
  width: 140%;
  height: 20rem;
  border-radius: 50%;
  left: -18%;
  top: 0; }

.home__restaurants {
  padding: 0 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll; }
  .home__restaurants .restaurant-card__outer:last-child {
    padding-right: 0.5rem; }
  .home__restaurants::-webkit-scrollbar {
    width: 0; }
  .home__restaurants::-webkit-scrollbar-thumb {
    width: 0; }

.home__rest-list-view {
  display: flex;
  flex-flow: column nowrap; }
  .home__rest-list-view a {
    color: #000;
    text-decoration: none; }

.home__category-list {
  display: flex;
  flex-flow: row wrap; }
  .home__category-list :nth-child(odd) {
    margin-right: 3px; }
  .home__category-list :nth-child(even) {
    margin-left: 3px; }

.restaurant__box {
  width: 100%;
  height: 300px;
  background: #fe5722;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 1.2rem;
  margin-top: -3px; }
  .restaurant__box:before {
    content: "";
    background: linear-gradient(190deg, transparent, rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .restaurant__box .name {
    font-size: 2rem;
    font-weight: bolder;
    text-overflow: ellipsis;
    margin-bottom: 10px; }
  .restaurant__box .name,
  .restaurant__box .details {
    z-index: 2; }

.restaurant__meals {
  display: flex;
  flex-flow: column nowrap; }

.restaurant__checkout {
  padding: 0 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll; }
  .restaurant__checkout .checkout-card:last-child {
    padding-right: 10px; }
  .restaurant__checkout::-webkit-scrollbar {
    width: 0; }
  .restaurant__checkout::-webkit-scrollbar-thumb {
    width: 0; }


/*# sourceMappingURL=main.css.map*/