html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** Gotham **/
@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url(fonts/GothamLight-3f6969ada534de188f1956dd87359296.otf); }

@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url(fonts/GothamMedium-77171d8f5b5283f9d47a3434704bf944.ttf); }

@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url(fonts/GothamBold-14b3a355f612d6181e891efd2c798b5f.otf); }

html, body, #root {
  width: 100%;
  height: 100%; }

body {
  font-family: Gotham;
  font-weight: 500;
  font-size: 14px; }

.footer {
  font-size: .7rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  background: white; }
  .footer a {
    text-decoration: none; }
  .footer__item {
    color: #fe5722;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-top: 4px solid white; }
    .footer__item [data-icon] {
      margin-bottom: 8px;
      font-size: 1.6rem; }
    .footer__item.active {
      border-top: 4px solid #fe5722; }

.header {
  background: #fe5722;
  position: fixed;
  top: 0;
  z-index: 100; }

.header-item {
  color: white;
  padding: 0.5rem;
  font-size: 1.4rem; }

.restaurant-card {
  margin: 2px;
  margin-right: 12px;
  width: 165px;
  height: 200px;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  color: white;
  background: white;
  flex-shrink: 0;
  background-size: cover;
  background-position: center; }
  .restaurant-card__inner {
    background: linear-gradient(190deg, transparent, rgba(0, 0, 0, 0.7));
    position: absolute;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
  .restaurant-card__name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .restaurant-card__details {
    font-size: .7rem;
    display: flex;
    flex-flow: row wrap; }
  .restaurant-card__money {
    color: green; }

.rest-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  background: white;
  box-shadow: 0px -1px 18px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: .8rem; }
  .rest-list__image {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 6px;
    background: #ccc;
    margin-right: .8rem;
    background-size: cover;
    background-position: center; }
  .rest-list__info {
    display: flex;
    flex-flow: column nowrap;
    flex: 1; }
  .rest-list__name {
    font-size: 1rem;
    margin-bottom: 3px; }
  .rest-list__data {
    font-size: .8rem;
    font-weight: lighter; }
  .rest-list__angle {
    font-size: 1.4rem; }

.splash {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe5722; }
  .splash img {
    width: 50%; }

.home {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  padding: 4rem 0 2rem 0; }
  .home__header {
    padding: 15px 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .home__header-logo {
      width: 22%; }
  .home:after {
    content: "";
    background: #fe5722;
    position: absolute;
    z-index: -1;
    width: 140%;
    height: 20rem;
    border-radius: 50%;
    left: -18%;
    top: 0; }
  .home__section {
    margin-top: .2rem; }
    .home__section .padded {
      padding: 1.2rem; }
  .home h1 {
    font-size: 2rem; }
  .home__restaurants {
    padding: 0 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll; }
    .home__restaurants .restaurant-card__outer:last-child {
      padding-right: 0.5rem; }
    .home__restaurants::-webkit-scrollbar {
      width: 0; }
    .home__restaurants::-webkit-scrollbar-thumb {
      width: 0; }
  .home__rest-list-view {
    display: flex;
    flex-flow: column nowrap; }


/*# sourceMappingURL=main.css.map*/